<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Subject" value="Token - {date}" />
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Token Debugger &lt;no-reply@gmail.com&gt;">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="tokendebugger@gmail.com" password="P@ssw0rd!"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
