<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="To" value="email where the token will be sent" />
    <add key="Subject" value="Token - {date}" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="email that will appear in the from">
        <network defaultCredentials="false" host="replace with smtp server" port="587" userName="replace with account" password="replace with pwd"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
